//input
$input-height : 32px;
@mixin el-input-style($color,$bg-color,$placeholder-color){
  .el-input__inner{
    height: $input-height !important;
    line-height: $input-height !important;
    background: #{$bg-color} !important;
    border: none !important;
    color: var(--input-color) !important;
    &:hover{
      border: none !important;
    }
  }
  .el-input__suffix{
    i{
      line-height: $input-height + 1px  !important;
      color: #{$color} !important;
      transition: none !important;
      cursor: pointer;
    }
  }
}

/* 覆盖el-input样式 */
@mixin el-input-theme($color,$bg-color,$placeholder-color){
  /deep/.el-input {
    @include el-input-style($color, $bg-color, $placeholder-color);
  }
}

.el-input {
  @include el-input-style(
    var(--input-color),
    var(--input-bgcolor),
    var(--font-color-grey-shallow)
  );
}
.el-dialog{
  background: var(--modal-bg-color) !important;
  .el-dialog__header .el-dialog__title{
    color: var(--font-color) !important;
  }
  .el-dialog__body{
    color: var(--font-color) !important;
  }
  .el-dialog__headerbtn:focus .el-dialog__close,
  .el-dialog__headerbtn:hover .el-dialog__close {
    color: $theme-color;
  }  
}
.el-button--primary {
  background: $theme-color !important;
  border-color: $theme-color !important;
}

//progress
.el-slider__button{
  background-color: #d33a31;
  border: none;
}
.el-slider__bar{
  background:#d33a31;
}
.el-slider__button-wrapper{
  @include wh(13px,13px);
  top: -6px;
}
.el-slider__runway{
  height: 4px;
  margin: 0;
}
.el-slider__bar{
  height: 4px;
}
.el-pagination{
  text-align: right;
  .btn-prev,.btn-next{
    color: #d33a31 !important;
  }
  .el-pager{
    li:not(.disabled).active {
    background-color: #d33a31 !important;
    color: #FFF;
    }
    li:not(.disabled):hover{
      color: #d33a31 !important;
    }
  }
}

/* el-table */
.el-table{
  margin: auto;
  font-size: 12px;
}
.el-table td, .el-table th.is-leaf{
  border: none  ;
}
